@model MovieShop.Core.Models.Response.MovieDetailsResponseModel
<style>
    .jumbotron {
        background-image: url("@Model.BackdropUrl");
        background-size: cover;
        color: white;
        background-color: #07131b;
        background-blend-mode: overlay;
    }
</style>

<div class="bg-light">
    <div class="container">

        <div class="jumbotron">
            <div class="row">
                <div class="col-4 ">

                    <img src="@Model.PosterUrl" alt="@Model.Title" class="rounded img-fluid" />
                </div>

                <div class="col-4">
                    <h1>@Model.Title</h1>
                    <h5>@Model.Tagline</h5>
                    <h6>@Model.RunTime m | @Model.ReleaseDate.Value.ToString("yyyy") </h6>
                    @foreach (var genre in Model.Genres)
                    {
                        <span class="badge badge-dark badge-pill"> @genre.Name </span>
                    }

                    <h3><span class="badge badge-warning badge-pill"> Rating: 8.3 </span></h3>
                    <p>
                        @Model.Overview
                    </p>
                </div>

                <div class="col-4">
                    <ul class="list-group list">
                        <li class="list-group-item d-flex justify-content-start align-items-center">
                            <a class="btn btn-dark btn-outline-light btn-block" asp-route-id="@Model.Id" asp-controller="User" asp-action="ReviewMovie">
                                <i class="far fa-edit mr-1"></i> REVIEW
                            </a>
                        </li>
                        <li class="list-group-item d-flex justify-content-start align-items-center">
                            <a class="btn btn-dark btn-outline-light btn-block">
                                <i class="fas fa-caret-right mr-1"></i>TRAILER
                            </a>
                        </li>
                        <li class="list-group-item d-flex justify-content-start align-items-center">
                            <a class="btn btn-light btn-block" asp-route-id="@Model.Id" asp-controller="User" asp-action="BuyMovie">
                                BUY $ @Model.Price
                            </a>
                        </li>
                        <li class="list-group-item d-flex justify-content-start align-items-center">
                            <a class="btn btn-light btn-block" asp-route-id="@Model.Id">
                                WATCH MOVIE
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            


            

        </div>

        <div class="row">
            <div class="col-4">
                <h3>
                    MOVIE FACTS
                </h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-start align-items-center">
                        <i class="fas fa-calendar-alt mr-2"></i> Release Date
                        <span class="badge badge-dark badge-pill ml-2"> @Model.ReleaseDate.Value.ToShortDateString() </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-start align-items-center">
                        <i class="fas fa-hourglass-half mr-2"></i>Run Time
                        <span class="badge badge-dark badge-pill ml-2"> @Model.RunTime m</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-start align-items-center">
                        <i class="far fa-money-bill-alt mr-2"></i>Box Office
                        <span class="badge badge-dark badge-pill ml-2"> $ @Model.Revenue</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-start align-items-center">
                        <i class="fas fa-dollar-sign mr-2"></i>Budget
                        <span class="badge badge-dark badge-pill ml-2"> $ @Model.Budget</span>
                    </li>

                </ul>
            </div>
            <div class="col-8">
                <h3>
                    CAST
                </h3>
                <table class="table">
                    @foreach (var cast in Model.Casts)
                    {
                        <tr class="d-sm-table-row">
                            <td><img src="@cast.ProfilePath" alt="@cast.Name" class=" cast-small-img rounded-circle"/></td>
                            <td>@cast.Name</td>
                            <td>@cast.Character</td>                       
                        </tr>
                    }
                </table>
            </div>
        </div>

    </div>

    
</div>